@import 'bourbon';
@import "neat";
@import 'solarized';
@import 'reset';

body{
  font-family: 'Source Code Pro', monospace;
  @include solarized-dark();
  line-height: 1.65;
  -webkit-font-smoothing: antialiased;
}

:global .outer-frame{
  @include outer-container;
}
